<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Pronósticos del Día</h1>
    <table >
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Clima</th>
                <th>Humedad</th>
                <th>Precipitaciones</th>
                <th>Velocidad del Viento</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pronostico : ${pronosticos}">
                <td th:text="${pronostico.idPronosticoDias}"></td>
                <td th:text="${pronostico.fechaPronDia}"></td>
                <td th:text="${pronostico.climaPronDia}"></td>
                <td th:text="${pronostico.humedad}"></td>
                <td th:text="${pronostico.precipitaciones}"></td>
                <td th:text="${pronostico.velViento}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>